<div style="display: flex; justify-content: center; font-family: Inter, sans-serif; padding-top: 50px; padding-bottom: 50px;">
  <div style="width: 90%; margin: 0 auto; border-radius: 10px; padding: 25px;">
    <div style="margin-bottom: 16px;"></div>
    <div style="margin-bottom: 20px;">{{{html}}}</div>
    <div style="border-top: 1px solid #EFEFEF; margin-bottom: 20px; width: 100%; height: 1px;"></div>
    <p style="font-size: 14px; color: #AAAAAA; margin-bottom: 20px;">Nemory team</p>

    <div style="font-size: 14px; color: #AAAAAA; margin-bottom: 0;">
      <p>Copyright © 2025 Nemory. All rights reserved</p>
    </div>
  </div>
</div>